*{
    margin: 0;
}

body{
    background:  #d8e2dc;
}
.dashboarContenedor{
    width: 100%;

      
};

h4{
    margin-left: 30px;
}


#dashboard{
    margin-left: 20px;
}





.logo a{
    height: 80px;
    width: 40%;
}



.containerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

#imagenPrincipal{
    background-image: url(./img/logoTucsonBlue.jpg);
    max-width: 100%;
};



#titulo{
    margin:0px auto;
    width: 200px;
    margin-top: 20px;
}

#imagenIngresar{
    height: 90px;
    margin-left: 145px;
}

#imagenRegistro{
    height: 40%;
}
.contenedorMenu{
    display: flex;
     align-items: center;
     margin-left: 20px;
    
     
}

.homeBg{
    background-color:#000000;
}



.img-registro{
height: 220%;
margin: 0 40px 30px;
margin-bottom: 40px;


}


#tituloProducto{
    margin:0px auto;
    width: 200px;
    margin-top: 20px;
}
#imagenCandado{
    margin-left: 100px;
    
}



.imagen{
    width: 80px;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

#qrcode{
    width: 40px;
}





.iconFooter{
    display: flex;
    justify-content: center;
    height: 45px;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #d8e2dc;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.datos_cliente{
    flex-direction:column;
}

.imagen20 {
    width:80px;
} 

.input-group{
    height: 20px;
    padding: 20px;
    
}



.img-fluid{
    max-width: 100%;
    height:50%
}

#bgLogin{
    background-color:#d8e2dc;   
   height: 400px;
}
.btnMenu{
    border: 3px solid rgba(100,100,100,0.1);
    padding: 20px;
    width: 300px;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color:#2C3333;
    background-size: 300%;
    background-image: -moz-linear-gradient(to left, #00b7DA,#161569,#00B7DA);
}
.btnMenu i{
    display: flex;
    justify-content: center;
    color: aliceblue;
    
}
.btnMenu{
    color: aliceblue;
   
}


.modal-content {
    margin-bottom: 40px;
}

.modal-body img{
    justify-content: center;
    padding: 20px;
    margin-left: 20px;
    
}


.modal-body{
    background: -moz-linear-gradient(to left, #00b7DA,#161569,#00B7DA);
    
}

.modal-title{
    font-family:'Roboto Mono', monospace;  
    color: #5F7161;  
}

.modal-body p{
    margin-left: 40px;
    text-decoration: none;
    margin-bottom: 10px;
}
.modal-body img{
    margin-right: 50px;
    text-decoration: none;
    
}
.card-img-top{
   color: aliceblue;
}

#nuevoImg{
    color: #5F7161;
}



.modal-footer{
    margin-bottom: 40px;
}

.link p{
    color: #5F7161; 
   font-family:'Roboto Mono', monospace;  
   
}

.input-group-text{
    background: #4B7BE5;
    
}

#bgLogin{
    background:#4B7BE5 ;
    height: 40px;
}






.inputRegister{
    width: 500px;
}

.img-fluid2{
    margin-left: 40px;
}


.nav-link{
    font-family:'Roboto Mono', monospace;  
    font-size: 25px; 
    color:#FCFFE7;
}

.navbar-brand{
    font-family:'Roboto Mono', monospace;  
    font-size: 25px;  
    color:#FCFFE7;  
}






.tituloEntrada{
    margin-top: 20px;
    margin-left: 110px;
    font-family: 'Roboto Mono', monospace;
    color:#2C3333;
}



#registro_usuario{
    margin-left: 20px;
}

.card{
    border: 3px solid rgba(100,100,100,0.1);
    padding: 20px;
    width: 300px;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color: whitesmoke;
    background-size: 300%;
    background-image: -moz-linear-gradient(to left, #00b7DA,#161569,#00B7DA);   
}



.card-img-top{
    margin-left: 25px;
}


 

.subcard {
    width:150px;
    height:150px;
    padding:10px
}

.form-control{
    margin-left: 30px;
}





