*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dashboarContenedor{
    width: 100%;

      
};


#dashboard{
    margin-left: 20px;
}


@import "bootstrap/scss/bootstrap.scss";


.logo a{
    height: 80px;
    width: 40%;
}
.body{
    background:#E2DCC8;
}


#titulo{
    margin:0px auto;
    width: 200px;
    margin-top: 20px;
}

#imagenIngresar{
    height: 120px;
    margin-left: 145px;
}

#imagenRegistro{
    height: 40%;
}
.contenedorMenu{
    display: flex;
}



.img-registro{
height: 250%;
margin: 0 40px 30px;
margin-bottom: 40px;


}


#tituloProducto{
    margin:0px auto;
    width: 200px;
    margin-top: 20px;
}



.imagen{
    width: 80px;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

#qrcode{
    width: 40px;
}



.iconFooter{
    display: flex;
    justify-content: center;
    height: 45px;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.datos_cliente{
    
    flex-direction:column;
    
}

.imagen20 {
    width:80px;
} 

.subcard {
    width:150px;
    height:150px;
    padding:10px
}


.modal_overlay{background-image:url(../img/overlay.png);position:fixed;top:0;left:0;z-index:99;width:100%;height:100%;display:none;overflow:auto}